<!DOCTYPE html>
<html>
<head>
  <title>HTML Elements Reference</title>
</head>
<body>
 <a href="about.html">About Page</a>
<h1 class="jumbotron">This is a heading</h1>
<p>This is a paragraph.</p>
<p>This is some <u>mispeled</u> text.</p>

</body>
</html>